:root {
  --primary-color: #1e3a5f;
  --secondary-color: #8DA9C4;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --light-bg: #f8f9fa;
  --backdround-color: #0B2545;
}


.bg-logoImg {
  height: 100vh !important;
  /* border: 2px solid ; */
  background-image: url("./assets/Images/DeliveryPerson.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.banner {
  background-image: url("./assets/Images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-color: var(--backdround-color);
}

.loginButton {
  color: #0B2545 !important;
  font-size: small;
}

.login-Main-Div {
  ::placeholder {
    color: white !important;
    font-size: 12px;
    padding-left: 25px;
  }

}

.login-round {
  border-radius: 30px;

  p {
    font-size: 12px;
  }
}

.userName {
  position: relative;

  img {
    position: absolute;
    top: 33%;
    left: 2.5%;
  }

}